.git
__pycache__
**/__pycache__
*.pyc
*.pyo
.pytest_cache
frontend/node_modules
public/
quarto-site
reports
logs
config.json
.server.pid
cdk/
!cdk/cdk.out/tree.json
!cdk/cdk-ecs.out/tree.json
!cdk/package.json
!cdk/package-lock.json
cdk.out/
